
// -------------------------------- 1200px

@media (max-width: 1200px) {

}


// --------------------------------- 991px

@media (max-width: 992px) {
    .catalog {
        &__tabs {
            .catalog__tab {
                width: 205px;
            }
        }
        &__wrapper {
            justify-content: center;
        }
    }
}


// ---------------------------------- 768px

@media (max-width: 768px) {
    .header {
        &__official {
            display: none;
        }
    }
    .title-feed {
        text-align: center;
    }
    .feed {
        &__descr {
            margin: 0 auto;
            margin-top: 10px;
            text-align: center;
        }
        &__form {
            align-items: center;
            input {
                width: 500px;
                height: 69px;
            }
        }
    }
    .btn-feed {
        display: block;
        margin: 0 auto;
        width: 500px;
        height: 69px;
        margin-top: 25px;
    }
    .catalog {
        &__tabs {
            .catalog__tab {
                width: 141px;
            }
        }
    }
    .footer {
        &__info {
            padding: 25px 0 0 0;
            width: 345px;
            height: 220px;
        }
    }
    .modal {
        input {
            width: 100%;
        }
    }
}


// ---------------------------------- 576px

@media (max-width: 576px) {
    .header {
        &__call {
            display: none;
        }
        &__logo {
            display: block;
            margin: 0 auto;
        }
    }
    .main {
        padding-bottom: 50px;
        &__wrapper {
            margin-top: 70px;
            align-items: center;
            text-align: center;
            &-descr {
                font-size: 20px;
                margin-top: 20px;
            }
        }
        &__h1 {
            line-height: 51px;
        }
        &__h2 {
            line-height: 36px;
        }
    }
    .btn-big {
        width: 340px;
        height: 65px;
        font-size: 20px;
    }
    .advantages {
        &__block-title {
            font-size: 25px;
        }
        &__block-descr  {
            font-size: 20px;
            line-height: 20px;
        }
    }
    .feed {
        &__form {
            input {
               width: 100%; 
            }
        }
    }
    .btn-feed {
        width: 100%;
    }
    .swiper-button-prev {
        display: none;
    }
    .swiper-button-next {
        display: none;
    }
    .catalog {
        &__tabs {
            .catalog__tab {
                transform: none;
                border-radius: 7px;
                width: 205px;
                div {
                    transform: none;
                    font-size: 15px;
                }
            }
        }
        &__wrapper {
            justify-content: center;
        }
        &__cart-info {
            margin-top: 15px;
            font-size: 16px;
        }
        &__cart-item-back {
            margin-top: 80px;
            font-size: 16px;
        }
        .btn-cart {
            font-size: 18px;
        }
    }
    .reviews {
        &__block {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-photo {
                margin-right: 0;
            }
            &-info {
                margin-top: 15px;
                align-items: center;
                text-align: center;
                .name {
                    font-size: 22px;
                }
                .marathons {
                    margin-top: 5px;
                    font-size: 19px;
                }
                .descr {
                    font-size: 20px;
                }
            }
        }
    }
    .modal {
        width: 346px;
        &__close {
            top: -17px;
            right: 2px;
            font-size: 46px;
        }
        &__subtitle {
            font-size: 22px;
            line-height: 22px;
        }
        &__descr {
            font-size: 16px;
            line-height: 16px;
        }
    }
}