.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__official {
        display: flex;
        flex-direction: column;
        &-title {
            color: #FFF;
            text-align: center;
            font-size: 12px;
            font-weight: 500;
        }
        &-brands {
            color: #FFF;
            text-align: center;
            margin-top: 7px;
            font-size: 18px;
            font-weight: 500;
        }
    }
    &__call {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        &-phone {
            color: #FFF;
            text-align: left;
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
        }
    }
}